parameters:
    level: 8
    paths:
        - src/
    excludePaths:
        - vendor/
    bootstrapFiles:
        - vendor/autoload.php
    scanDirectories:
        - vendor/szepeviktor/phpstan-wordpress/
